.compose{
    margin-top: 100px;
    margin-left: 200px;
    padding-top: 50px;
    padding-bottom: 30px;
    align-items: center;
    border: 1px solid orange ;
    background-color: dimgray ;
    border-radius: 5px;
    width: 1000px;
    height: 400px;
}

.composeForm{
    margin-left: 150px;
    
}
.composeFormGroup{
    display: flex;
    align-items: center;
    margin-bottom:20px ;
}

.composeBlog{
   border: none;
   padding: 10px;
   width: 40vw;
   border-radius: 5px;
   outline:none;
}

label{
    font-size: 20px;
}

 #title {
    font-size: 20px;
    margin-left: 70px;
}
#description{
    font-size: 16px;
    margin-left: 10px;
}


.composeBlogBtn {
    background: mediumseagreen;
    background-image: -webkit-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -moz-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -ms-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -o-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: linear-gradient(to bottom, mediumseagreen, #1abc9c );
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: flex;
    border: none;
    cursor: pointer;
    
  }
  
  .composeBlogBtn:hover {
    background: darkseagreen;
    background-image: -webkit-linear-gradient(top, darkseagreen, seagreen);
    background-image: -moz-linear-gradient(top, darkseagreen, seagreen);
    background-image: -ms-linear-gradient(top, darkseagreen, seagreen);
    background-image: -o-linear-gradient(top, darkseagreen, seagreen);
    background-image: linear-gradient(to bottom, darkseagreen, seagreen);
    text-decoration: none;
  }