/* .about{
    
    height: 1000px;
    width: 1000px;
    padding-top: 50px;
    height: 200px;
    padding-left: 200px;
    text-align: left;
    
} */
.about-title{
 /* margin-top: 10px; */
text-align: center;
color: orangered;
}
.about-container{
  
    display: grid;
    grid-template-columns: 35% 40%;
    gap: 10%;
}
.aboutMyImg{
  margin-top: 60px;
    margin-bottom: 1px;
    margin-left: 200px;

    aspect-ratio: 1/1;
    border-radius: 2rem;
     /* background: linear-gradient(40deg,transparent,var(--color--primary),transparent); */
     background:rgb(32, 95, 120);
    display: grid;
    place-items: center;
    
   }

   .info{
    margin-top: 60px;
   }
  
    
  
  .about-img{
    width: 100%;
    border-radius: 2rem;
    /* overflow: hidden; */
    transform: rotate(5deg);
    transition: var(--transition);
   }
   
   .about-img:hover{
     transform: rotate(0);
   } 

   .btn-info {
    background: mediumseagreen;
    background-image: -webkit-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -moz-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -ms-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -o-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: linear-gradient(to bottom, mediumseagreen, #1abc9c );
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn-info:hover {
    background: darkseagreen;
    background-image: -webkit-linear-gradient(top, darkseagreen, seagreen);
    background-image: -moz-linear-gradient(top, darkseagreen, seagreen);
    background-image: -ms-linear-gradient(top, darkseagreen, seagreen);
    background-image: -o-linear-gradient(top, darkseagreen, seagreen);
    background-image: linear-gradient(to bottom, darkseagreen, seagreen);
    text-decoration: none;
  }


   @media screen  and(max-width: 1024px){
    .about-container{
        /* padding-top: 100px; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    .aboutMyImg{
        width: 50%;
        margin: 2rem auto 1rem;
       }
   }
   @media screen  and(max-width: 600px){
    .about{
       width: 65%; 
       margin:0 auto 16px;
    }
    .info{
      margin: 25px 0;
    }
   }

