 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none

  } 
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    height: 100%;
    color: #FF6E31;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.7;
    background: #041938;
background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");
  }

  #root {
    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm:90%;
    --transition: all 400ms ease;
  }

  html{
    scroll-behavior: smooth;
  }

  .container{
    width: var(--container-width-lg);
    margin: 0 auto;

  }
h1,h2,h3,h4,h5{
  font-weight: 500;
}

h1{
  font-size: 40px;
}
h4{
  color: bisque;
  font-size: 16px;
}

h5{
  font-size: 14px;
}

section{
  /* margin-top:128px ; */
  margin-top: 5px;
}

section >h2,section >h5 {
  text-align: center;
  color: antiquewhite;
}

section >h2{
  margin-bottom: 10px;

}


text-light{
  color:grey; 
}


a{
  color: skyblue;
  transition: var(--transition);
 
}

a:hover{
  color: azure;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn-info {
  background: mediumseagreen;
  background-image: -webkit-linear-gradient(top, mediumseagreen, #1abc9c );
  background-image: -moz-linear-gradient(top, mediumseagreen, #1abc9c );
  background-image: -ms-linear-gradient(top, mediumseagreen, #1abc9c );
  background-image: -o-linear-gradient(top, mediumseagreen, #1abc9c );
  background-image: linear-gradient(to bottom, mediumseagreen, #1abc9c );
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
}

.btn-info:hover {
  background: darkseagreen;
  background-image: -webkit-linear-gradient(top, darkseagreen, seagreen);
  background-image: -moz-linear-gradient(top, darkseagreen, seagreen);
  background-image: -ms-linear-gradient(top, darkseagreen, seagreen);
  background-image: -o-linear-gradient(top, darkseagreen, seagreen);
  background-image: linear-gradient(to bottom, darkseagreen, seagreen);
  text-decoration: none;
}

@media screen and(max-width:1024px){
 .container{
  width: var(--container-width-md);
 }

 .section{
  margin-top: 96px;
  height: 100vh;
 }
} 


@media screen and(max-width:768px){
  .container{
    width: var(--container-width-sm);
   }
  
   .section>h2{
    margin-bottom: 32px;
   }
} 

