html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    height: 100%;
    background-color: #041938;
    color: #FF6E31;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

@media screen and(max-width:768px){
    ul{
        display: none;
    }
}