/* 
.home-blog-list{
    padding-top: 5px;
    height: 200px;
    padding-left: 0px;
    text-align: left;
   
} */
.container-home {
    text-align: center;
    /* padding-bottom: 40px; */
}
.home-title{
    display: flex;
   flex-direction: column;
   align-items: center;
   font-family:fantasy;
   position: absolute;
   margin-left: 400px;
   margin-top: 150px;
   
}
.home-headingLg{
    color: white;
    top: 28%;
    font-size: 50px;
    position: absolute;
    font-size: 150px;

}

.home-headingSm{  

    font-size: 16px;
    color: antiquewhite;
    margin-top:250px;
    font-weight: 900;
    color:white;
} 
.home-img{
background: transparent;
opacity: 0.4;
object-fit: cover;
height:700px;

}


/* .heading{
    text-align: center;
    padding-top: 20px;
    font-weight: 900;
    font-size: 50px;
    color: aliceblue;
    
}

p{
    color: bisque;
    font-size: 16px;
} */