.container-blog-wrap{
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}

.blogTitle{
  text-align: center;
  margin: 10px;
  font-size: 28px;
}

.blogTitleInput{
  text-align: center;
  margin-top: 10px;
  font-size: 28px;
  border: none;
  color: grey;
  border-bottom: 1px solid lightgray;
}
.blogTitleInput:focus{
  outline: none;
}

.blogDesc {
  font-size: 18px;
  line-height: 25px;
}
.blogDesc::first-letter{
  font-size: 30px;
  margin-left: 20px;
  font-weight: 600;

}

.blogDescInput{
  font-size: 18px;
  line-height: 25px;
  border:none;
  color: grey;
  border-bottom: 1px solid lightgray;
  

}

.blogDescInput:focus{
  outline:none;
}
.singleBlog .buttons {
    display: flex;
    justify-content: flex-end;
  }
  .singleBlog .button {
    margin-left: 20px;
    border: none;
  }
  .singleBlog .button:nth-child(1) {
    background: #10ac84;
  }
  .singleBlog .button:nth-child(2) {
    background: #ee5253;
  }

  .blogEditButton{
    color:white;
    background-color: #10ac84;
    width: 100px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
   /*  right side e chole jay */
   margin-top: 20px;
  }