.contact{
    height: 1000px;
    width: 1000px;
    padding-top: 50px;
    height: 200px;
    padding-left: 200px;
    text-align: left;
}

.form{
    margin-top: 30px;
}

.form input, form label,form span, form textarea{
    display: block;
}

.form input,form textarea{
    margin-bottom:30px ;
    padding: 8px;
    border-radius: 5px;
    border: 0;
    width: 500px;
    color: var(--secondary);
}
.form label,form span{
    margin-bottom:10px ;
}
.contactBtn {
    background:#FF6E31 ;
    background-image: -webkit-linear-gradient(top, #FF6E31, tomato);
    background-image: -moz-linear-gradient(top,#FF6E31,tomato );
    background-image: -ms-linear-gradient(top,#FF6E31,tomato );
    background-image: -o-linear-gradient(top,#FF6E31,tomato );
    background-image: linear-gradient(to bottom,#FF6E31,tomato);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: flex;
    border: none;
    cursor: pointer;
    
  }
  
  .contactBtn:hover {
    background:powderblue;
    background-image: -webkit-linear-gradient(top,powderblue,blue);
    background-image: -moz-linear-gradient(top, powderblue, blue);
    background-image: -ms-linear-gradient(top, powderblue, blue);
    background-image: -o-linear-gradient(top,powderblue,blue);
    background-image: linear-gradient(to bottom, powderblue,blue);
    text-decoration: none;
  }